@import './vuetify';

@font-face {
  font-family: 'Bebas';
  src: url('~/assets/fonts/Bebas-Regular.ttf');
  // font-weight: all;
}

@font-face {
  font-family: 'Relaway';
  src: url('~/assets/fonts/Raleway-Regular.ttf');
  font-weight: 400;
}

// COLFAX FONT ---------------------------------------------->

// @font-face {
//   font-family: 'Colfax';
//   src: url('~/assets/fonts/Colfax-Regular.otf');
//   font-weight: 400;
// }

// @font-face {
//   font-family: 'Colfax';
//   src: url('~/assets/fonts/Colfax-Medium.otf');
//   font-weight: 500;
// }

// @font-face {
//   font-family: 'Colfax';
//   src: url('~/assets/fonts/Colfax-Bold.otf');
//   font-weight: 700;
// }

// @font-face {
//   font-family: 'Colfax';
//   src: url('~/assets/fonts/Colfax-Black.otf');
//   font-weight: 900;
// }

// COLFAX FONT <----------------------------------------------

html {
  background: #14172D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  overflow-x:hidden
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.w-50 {
  width: 50%;
}
.h-50 {
  height: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.h-60 {
  height: 60%;
}
.h-40 {
  height: 40%;
}
.link-color{
  color: #E94485;
}

._disabled {
  pointer-events: none;
  opacity: 0.6;
}

.play-btn {
  background-color: rgba(233, 68, 133, 1)!important;
  min-width: 160px!important;
  color: white!important;
}
.flickity-page-dots {
  .dot {
    bottom: -22px;
    width: 9px;
    height: 9px;
    opacity: 1;
    text-align: center;
    vertical-align: middle;
    position: relative;
    background-color: rgba(232, 69, 133, 0.5);
  }
  .dot.is-selected {
    background-color: rgba(232, 69, 133, 1);
    &::after {
      content: "";
      position: absolute;
      width: 35px;
      height: 35px;
      border: 2px solid rgba(232, 69, 133, 1);
      left: 50%; top: 50%;
      transform: translate(-50%, -50%);
      border-radius: 50%;
    }
  }
}
