@import './vuetify';

@font-face {
  font-family: 'Bebas';
  src: url('~/assets/fonts/Bebas-Regular.ttf');
  // font-weight: all;
}

@font-face {
  font-family: 'Relaway';
  src: url('~/assets/fonts/Raleway-Regular.ttf');
  font-weight: 400;
}

// COLFAX FONT ---------------------------------------------->

// @font-face {
//   font-family: 'Colfax';
//   src: url('~/assets/fonts/Colfax-Regular.otf');
//   font-weight: 400;
// }

// @font-face {
//   font-family: 'Colfax';
//   src: url('~/assets/fonts/Colfax-Medium.otf');
//   font-weight: 500;
// }

// @font-face {
//   font-family: 'Colfax';
//   src: url('~/assets/fonts/Colfax-Bold.otf');
//   font-weight: 700;
// }

// @font-face {
//   font-family: 'Colfax';
//   src: url('~/assets/fonts/Colfax-Black.otf');
//   font-weight: 900;
// }

// COLFAX FONT <----------------------------------------------

html {
  background: #14172D;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.w-100 {
  width: 100%;
}
.h-100 {
  height: 100%;
}
.w-50 {
  width: 50%;
}
.h-50 {
  height: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-30 {
  width: 30%;
}
.w-40 {
  width: 40%;
}
.h-60 {
  height: 60%;
}
.h-40 {
  height: 40%;
}
.link-color{
  color: #E94485;
}
