// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
$font-size-root: 18px;

$shadow-key-umbra-opacity: rgba(#000, 0.05);
$shadow-key-penumbra-opacity: rgba(#000, 0.05);
$shadow-key-ambient-opacity: rgba(#000, 0.05);