html .v-application {
  .v-btn {

    .v-btn__content {
      font-family: 'Bebas';
      font-weight: 400;
      font-size: 1.2em;
      letter-spacing: 0.02em;
    }

    &.v-btn--text {
      &::before {
        content: none !important;
      }
    }
  }

  .v-chip {

    background-color: transparent !important;
    font-weight: 700;

    &::before {
      background-color: currentColor;
      opacity: 0.05 !important;
    }

    .v-chip__content {
      font-family: 'Relaway';
      letter-spacing: 1.05px;
    }
  }

  [class*='text-'] {
    font-family: 'Bebas', sans-serif !important;
  }

  [class*='body-'] {
    font-family: 'Relaway', sans-serif !important;
    line-height: 1.8;
  }


  [class*='subtitle-'] {
    font-family: 'Relaway', sans-serif !important;
    line-height: 1.8;
  }

  .font-head {
    font-family: 'Bebas', sans-serif !important;
  }

  a {
    text-decoration: none;
  }

  .--pn {
    pointer-events: none;
    user-select: none;
  }

  .--posr {
    position: relative;
  }

  .--cnt {
    padding-top: 85px;
    padding-bottom: 85px;
    z-index: 1;
    @media (min-width: 960px) {

      padding-top: 100px;
      padding-bottom: 100px;
    }
  }

  .v-container {
    max-width: 73%!important;
    &.wide {
      max-width: 85%!important;
    }
    @media (max-width: 1600px) {
      max-width: 85%!important;
    }
    @media (max-width: 1264px) {
      max-width: 1040px !important;
    }
  }
  .v-btn{
    height: 50px;
    box-shadow: none;
  }
}
